            @font-face {
                font-family: joystix;
                src: url(../font/joystix\ monospace.otf);
            }
            @font-face {
                font-family: bytebounce;
                src: url(../font/ByteBounce.ttf);
            }            
            header, footer{
                color: rgb(255, 255, 255);
                background-color: rgb(0, 0, 0); 
                padding: 10px;
                text-align: center;
            }
            section{
                color: rgb(255, 255, 255);
                background-color: rgb(0, 0, 0); 
                padding: 20px;
            }
            body{
                image-rendering: crisp-edges;
                background-image: url(../images/bg/hedgehog.png);
                background-repeat: repeat;
                background-size: 7%;
                font-family: bytebounce;
                font-size: 125%;
                margin: 0;
                padding: 0;
            }

            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
            li{
                display: inline-block;
                margin-right: 20px;
                font-size: 120%;
            }
            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
            }
            a:hover{
                text-decoration: underline;
                color: #b49068;
            }
            li:hover{ 
                transform: scale(1.2);
            }
  
            #logo{
                display: block;
                margin: auto;
            }
            img{
                image-rendering: crisp-edges;
            }
            .box{
                border: 12px solid;
                border-image-source: url(../images/boxes/normalbox.png);
                border-image-slice: 12 fill;
                border-image-repeat: round;
                margin: 20px 20% 0 20%;
                text-align: center;
                color: rgb(0, 0, 0);
            }
            .blog{
                font-size: 140%;
                margin: 20px;
                text-align: left;
            }
            h1{
                background-color: rgba(0, 0, 0);
                color: white;
                margin: 0;
                padding: 0;
                padding-bottom: 10px;
                
            }
            .screenshots{
                border-radius: 10px;
                border: solid 2px black;
            }
            .btitle{
                padding-top: 10px;
            }
            .status{
                margin: 20% 0 0 85%;
                position:fixed;
            }
            